*{
    margin: 0;
    padding: 0;
}

html,
body{
    overflow: hidden;
}

.webgl{
    position: fixed;
    top:0;
    left: 0;
    outline: none;
}


canvas { 
    display: block; 
    cursor: grab; /* Set the default cursor to grab */
}

.pan {
    cursor: move; /* Override cursor while actively dragging */
}